.promo {
  margin: auto;
  display: block;
  text-align: center;
  height: 1200px;
}

.racoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  height: 300px;
  margin-top: -20px;
  padding-right: 450px;
}
.racoes p {
  height: 95px;
}

.promo {
  margin: auto;
  display: block;
  text-align: center;
  justify-content: space-between;
}

.anuncios {
  margin-left: -145px;
}
.anuncios p {
  margin: 10px;

  padding: 55px;
  width: 434px;
  height: 25px;
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline #3a8da8;
  text-align: start;
}

.anuncios h4 {
  margin-left: 70px;
  text-align: start;
  width: 457.249px;
  height: 46.307px;
  flex-shrink: 0;
  color: #000;
  font-family: Glades Bold;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mais h6 {
  margin-left: 700px;
  width: 202.084px;
  padding: 10px 5px;
  
  color: #ffff;
  background: #124c5f;
  border-radius: 5px;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mais:hover {
  animation: 0.5s;
  transition: 0.5s;
scale: 1.02;
 }

.desc {
  color: #124c5f;
  height: 5px;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  align-items: center;
  display: flex;
  align-self: center;
  float: left;
}

.compra {
  color: #124c5f;
  height: 90px;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  align-items: center;
  display: flex;
  align-self: center;
  float: left;
}

.balls {
  margin-left: 95%;
  margin-top: -450px;
}
