.inform {
    background: #193A6A;
    height: 150px;
    display: block;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
    
    
    
  }


.icons p{
  display: flex;
  justify-content: center;
  color: #ffff;
  height: 25px;
  
 
 
}



  
  .icons a{
    
    padding: 17px;
    font-weight: bolder;
    color: #ffff;
    align-items: center;

 }


