.inform {
  height: 150px;
  padding: 0;
  text-align: center;
  display: block;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 75px;
  background: #193A6A;
    
    
    
  }


.icons p{
  display: flex;
  justify-content: center;
  color: #ffff;
  height: 25px;
  
 
 
}



  
  .icons a{
    
    padding: 17px;
    font-weight: bolder;
    color: #ffff;
    align-items: center;

 }


