.button{
    padding: 15px 5px;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    color: #193A6A;
    /* text-transform: uppercase; */
    cursor: pointer;
    font-size: 24px;
    display: inline;
    padding: 40px;
    margin: 0 15px;
    
    
    
    


}

.button:hover{
    color: #081933;
    
}

.fullwidth{
    width: 100%;
}